@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --blue-color: #202545;
    --white-color: white;
    --1rem-font-size: 1rem;
    --15rem-font-size: 1.5rem;
    --2rem-font-size: 2rem;
    --25rem-font-size: 2.5rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto sans-serif;
}

/*---------------------------------------------------*/

.first-banner {
    height: 100vh;
}

.first-banner-text h2 {
    text-transform: uppercase;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 5px 15px;
    font-size: var(--2rem-font-size);
}

.logo {
    width: 80px;
    margin-top: 40px;
}

.log-17 {
    width: 350px;
}

.chevron-down {
    color: var(--white-color);
    background: black;
    border: 1px solid black;
    border-radius: 50%;
}

.image-full-width {
    width: 100%;
    height: auto;
}

.image-video {
    margin: 40px 0;
    border-radius: 10px;
}

.play-img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: var(--white-color);
}

.wrapper {
    padding-left: 80px !important;
    padding-top: 20px;
    border-left: 3px solid #dddddd;
}

.wrapper h1, .wrapper p {
    color: var(--blue-color);
}

.wrapper h1 {
    font-size: var(--25rem-font-size);
    font-weight: bolder;
}

.date-block {
    position: absolute;
    top: 20px;
    left: -3%;
    text-align: center;
    color: red;
    width: 40px;
    background: var(--white-color);
    font-size: var(--2rem-font-size);
    font-weight: bolder;
}

/*---------------  footer  ------------------------*/

.footer {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.footer-text {
    margin: 70px 0;
    background-color: var(--white-color);
    color: var(--blue-color);
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: var(--2rem-font-size);
}

.social-block {
    margin-bottom: 80px;
}

.social-btn {
    color: white;
    padding: 0 10px;
    margin-bottom: 40px;
}

.footer-copyright {
    padding: 30px 0;
    font-size: var(--1rem-font-size);
}

/*---------------------  device scale  -----------------*/

@media screen and (max-width: 768px) {
    .wrapper {
        padding-left: 60px !important;
    }

    .first-banner-text h2,
    .date-block {
        font-size: var(--1rem-font-size);
        left: -5%;
    }

    .wrapper h1,
    .footer-text {
        font-size: var(--15rem-font-size);
    }

    .social-block {
        margin-bottom: 10px;
    }
}
